<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1>API - USER</h1>
    <div class="container">
        <% pessoas.forEach((pessoa) => { %>
       <div class="card">
         <h3>Pessoa</h3>
         <h4>Nome: <%= pessoa.nome %></h4>
         <h4>Sobrenome: <%= pessoa.sobrenome %></h4>
         <h4>Idade: <%= pessoa.idade %></h4>
       </div>
        <% }) %> 
     </div>
</body>

</html>